*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: arial; }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.character-counter {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #22C55E;
  position: relative; }
  .character-counter .start {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    font-size: 2rem;
    animation: pulse 700ms ease infinite;
    color: #86EFAC;
    text-transform: uppercase; }
  .character-counter .proj-title {
    color: #BBF7D0;
    font-size: 5rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px; }
  .character-counter .cc-container {
    width: 70rem;
    height: 40rem;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 5px; }
    .character-counter .cc-container #text-count {
      resize: none;
      width: 100%;
      border: none;
      padding: 1rem;
      outline: none;
      transition: box-shadow 250ms ease;
      background-color: white;
      font-size: 2rem;
      border-radius: 5px;
      color: #4B5563; }
      .character-counter .cc-container #text-count:focus {
        box-shadow: 0 0 0 2px #38BDF8; }

.actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem; }
  .actions .status {
    font-size: 2rem; }
  .actions .indicator {
    color: #22C55E;
    text-transform: uppercase;
    font-size: 1.5rem; }
  .actions .counted-text {
    font-weight: bolder;
    color: #FB923C;
    font-size: 3rem; }

.toggle-wrapper {
  height: 100%; }
  .toggle-wrapper .include-input {
    display: none; }
  .toggle-wrapper label {
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    display: flex;
    padding-left: 4rem; }
    .toggle-wrapper label .include-checkbox {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      border: 5px solid #0EA5E9;
      display: inline-block;
      position: absolute;
      top: -.7rem;
      left: 0; }
      .toggle-wrapper label .include-checkbox::after {
        content: "";
        background-color: #0EA5E9;
        border-radius: 50%;
        height: 1.3rem;
        width: 1.3rem;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 250ms; }
  .toggle-wrapper .include-input:checked ~ label > .include-checkbox::after {
    opacity: 1; }
